.product_view .modal-dialog{max-width: 800px; width: 100%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.thumbnail img{
    max-width: 275px;
    max-height: 275px;
}
.thumbnail{
    opacity:0.70;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.thumbnail img{
    max-width: 250px;
    max-height: 250px;
}
.thumbnail:hover{
    opacity:1.00;
    box-shadow: 0px 0px 10px #4bc6ff;
}